@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }

  .scroll-font{
    font-family: var(--font-apple-Display);
  }

  .difference-card span{
    color: #ff3c26;
  }